<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
        </div>
        <div class="col-lg-9">
            <h3>Kiến thức cơ bản, cốt lõi dân IT cần học trước</h3>
        </div>
    </div>
</div>